{% extends 'base.html '%}

        <!-- Spinner Start -->

        <!-- Spinner End -->


        <!-- Navbar start -->
        <!-- Navbar End -->

{% block hero %}
{% endblock hero %}
        <!-- Modal Search Start -->
        <!-- Modal Search End -->

        {% block main %}
        <!-- Single Page Header start -->

        {% include 'shop_detail/components/page_header.html'%}

        <!-- Single Page Header End -->


        <!-- Single Product Start -->

        {% include 'shop_detail/components/single_product.html' %}

        <!-- Single Product End -->

        {% endblock main %}

        <!-- Footer Start -->
        <!-- Footer End -->

        <!-- Copyright Start -->

        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
